<div [ngClass]="theme.currentTheme" class="support">
    <div class="support__container">
        <a routerLink="/usuario">
            <img class="support__container__img" src="./assets/flecha-atras.png" alt="back">
        </a>
    </div>
    <h3 class="support__title">¿Necesitas ayuda con algún producto , {{user}}? </h3>
    <p class="support__txt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque, delectus corrupti aliquid perspiciatis debitis ratione placeat aperiam, et hic aliquam ipsa quae suscipit minima itaque rerum, exercitationem sit aspernatur consequatur!
    Qui at natus ex maxime repudiandae aliquid nobis dolores fuga eos veniam eveniet veritatis incidunt ipsum maiores possimus, iste, accusantium adipisci ducimus! Velit, quam ab. Nulla praesentium libero laudantium rerum?
    Quia cumque, distinctio, iste ad itaque praesentium ab inventore, deleniti mollitia dolor dolorum aut quam beatae! Neque ut dolor tenetur dolore maiores. Pariatur veritatis saepe odit similique explicabo quis? Quo!
    Odit quo nostrum exercitationem corrupti rem blanditiis sint tempore iure tempora laboriosam accusamus sunt, odio dolorum beatae illo impedit atque nesciunt? Fugiat nesciunt voluptatibus neque eum iure totam velit! Nobis.</p>
</div>