.light{
    --primary-color:   rgba(230, 230, 148, 0.977);
    --secundary-color: rgba(192, 192, 192, 0.925);
    --text-color: black;
    --background-color: white;

}
.dark{
    --primary-color:  black;
    --secundary-color:#5C8984;
    --text-color: #ffff;
    --background-color: #545B77;
}



.notif{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    &__content{
        padding: 12px;
        width: 12%;
        &__img{
            width: 100%;
        }
    }

    &__title{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__txt{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
            color: var(--text-color);
        }
    }
}