<div class="profile">
    <div class="profile__container">
        <a routerLink="/usuario">
            <img class="profile__container__img" src="./assets/flecha-atras.png" alt="back">
        </a>
    </div>
    <div class="profile__txt">
        <h2 class="profile__txt__titles">Información de la cuenta de Usuario</h2>
        <h4 class="profile__txt__titles">Nombre de usuario :{{userName}}</h4>
        <h4 class="profile__txt__titles">Email : {{email}}</h4>
        <h4 class="profile__txt__titles">Calle : {{street}}</h4>
        <h4 class="profile__txt__titles">Código postal : {{postal}}</h4>
        <h4 class="profile__txt__titles">Ciudad : {{city}}</h4>
        <h4 class="profile__txt__titles">Provincia : {{province}}</h4>
        <h4 class="profile__txt__titles">Cuenta creada : {{created}}</h4>
    </div>
</div>