.light{
    --primary-color:  rgba(230, 230, 148, 0.977);
    --secundary-color: rgba(192, 192, 192, 0.925);
    --text-color: #DAFFFB;
    --background-color: white;

}
.dark{
    --primary-color: black;
    --secundary-color: white;
    --text-color: #ffff;
    --background-color: #545B77;
}
.gallery{
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    padding-bottom: 89px;
    background-color: var(--background-color);
}
.card{
    width: 100%;
    height: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 4rem;
    background-color: var(--background-color);
    &__content{
        width: 90%;
        &__img{
            width: 100%;
        }
    }
    &__title{
        width: 100%;
        margin: 2px;
        font-family: 'Nomark';
        font-size: large;
        text-align: center;
    }
    &__text{
        width: 80%;
        text-align: justify;
        font-size: medium;
        font-family: 'Nomark';
        // color: var(--text-color);
    }
    &__cart{
        border: none;
        width: 40%;
        padding: 10px;
        font-family: 'Nomark';
        margin-top: 1rem;
        border-radius: 15px;
        background-color: var(--primary-color);
        background-image: linear-gradient(to top,  var(--primary-color), var(--secundary-color));
        color: var(--text-color);
    }
}